{{#if userInSession}}
  <div id="page"></div>

  <h3>welcome to your time-travel machine, {{userInSession.username}} </h3>

  <form action="/updateUserInfo" method="post" id="userInfoForm">
  

  <div class="info-user">
    <p3>About explorer</p3>
    <label for="userPhoto">Profile Photo:</label>
    <input type="file" name="userPhoto" accept="image/*" />
    
    <ul class="user-list">
      <li>Email: {{userInSession.email}}</li>
      <li>
        /total number of journeys in a year/
      </li>
      <li>
        City I am from:
        <input type="text" name="returnedCity" id="returnedCityInput" placeholder="Enter city name" value={{userInfoArray.returnedCity}} />
      </li>
      <li>
        City I returned to most times:
        <input type="text" name="returnedCity2" id="returnedCityInput2" placeholder="Enter city name" value={{userInfoArray.returnedCity2}} />
      </li>
      <li>
        City opened unexpected way:
        <input type="text" name="returnedCity3" id="returnedCityInput3" placeholder="Enter city name" value={{userInfoArray.returnedCity3}} />
      </li>

      <button type="submit">save changes</button>
    

       {{!-- {{#if userInSession.userPhoto}}
        <img src="{{userInSession.userPhoto}}" alt="{{userInSession.username}}'s Photo">
      {{/if}} --}}
{{!-- is running  --}}
    </div>
    </ul>
  </div> 
  <script src="/db/user-page.js"></script>
</form>



  <div class="info-travel">
    <p3>All visited countries</p3>
    <ul class="travel-list">

      <li>Portugal</li>
      <li>Italy</li>
      <li>Korea</li>
      <li>Ukraine</li>
    </ul>
  </div>
  


  <button id="myMapButton">
    <a href="/userProfile">my map</a>
  </button>

{{else}}

  <br /><p> do login</p>

{{/if}}